<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyFirstSuite" parallel="classes" thread-count="2">
  <test name="MyFirstTest">
    <classes>
      <class name="SeleniumFirstProject.SeleniumWDFirstProject.ParellelTestExecutionInMethods"/>
      <class name="SeleniumFirstProject.SeleniumWDFirstProject.ParellelTestExecutionInClasses"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
