<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyFirstSuite">
  <test thread-count="5" name="MyFirstTest">
    <classes>
      <class name="SeleniumFirstProject.SeleniumWDFirstProject.TestNGConcept"/>
      <class name="SeleniumFirstProject.SeleniumWDFirstProject.ExceptionTimeOutTest"/>
      <class name="SeleniumFirstProject.SeleniumWDFirstProject.GoogleTest"/>
      <class name="SeleniumFirstProject.SeleniumWDFirstProject.TestNGDependOnMenthod"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
